<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title>Home Broker - Versatil IA</title>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style>
	.fonte-tabela {
		font-weight: 600;
		font-size: 80%;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/"> <img src="/vst-ia.png" height="30" class="d-inline-block align-top" alt="">
			<span style="font-weight: 600">&nbsp;&nbsp;Home Broker</span>
		</a>
	</nav>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<h5 class="card-header bg-secondary text-white">Home Broker</h5>
					<div class="card-body">
						<div class="row">
							<div class="col-6 col-sm-2" align="right">
								<strong>Automação:</strong>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<select class="form-control" id="expert">
									<option th:each="automacao : ${automacaoList}" th:value="${automacao.id}"
										th:text="${automacao.id}"></option>
								</select>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Ativo:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<input class="form-control" id="ativo" pattern="[A-Za-z0-9]{3}">
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Conta:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<input class="form-control" id="conta">
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-2" align="right">
								<strong>Volume:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<input class="form-control" value="1" id="volume">
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Stop Loss:</strong>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<input class="form-control" id="stopLoss">
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Take Profit:</strong>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<input class="form-control" id="takeProfit">
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-2" align="right">
								<strong>Tipo:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<select class="form-control" id="tipo">
									<option>ENTRADA</option>
									<option>SAIDA</option>
								</select>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12" align="right">
								<button class="btn btn-success" onclick="javascript:comprar();">Comprar</button>
								&nbsp;
								<button class="btn btn-primary" onclick="javascript:vender();">Vender</button>
								&nbsp;
								<button class="btn btn-danger" onclick="javascript:zerar();">Zerar</button>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
			<div class="col-12" th:each="homeBroker : ${homeBrokerList}">
				<div class="card">
					<h5 th:class="${homeBroker.ativo.startsWith('WIN') ? 'card-header bg-info text-white': 'card-header bg-success text-white'}"
						th:text="${homeBroker.automacao} + ' - ' + ${homeBroker.ativo}"></h5>
					<div class="card-body">
						<div class="row">
							<div class="col-6 col-sm-2" align="right">
								<strong>Automação:</strong>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<select class="form-control" th:id="'expert'+${homeBroker.id}">
									<option th:each="automacao : ${automacaoList}" th:value="${automacao.id}"
										th:text="${automacao.id}" th:selected="${automacao.id == homeBroker.automacao}">
									</option>
								</select>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Ativo:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<input class="form-control" th:value="${homeBroker.ativo}"
									th:id="'ativo'+${homeBroker.id}">
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Conta:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<input class="form-control" th:id="'conta'+${homeBroker.id}">
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-2" align="right">
								<strong>Volume:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<input class="form-control" value="1" th:id="'volume'+${homeBroker.id}">
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Stop Loss:</strong>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<input class="form-control" th:id="'stopLoss'+${homeBroker.id}">
							</div>
							<div class="col-6 col-sm-2" align="right">
								<strong>Take Profit:</strong>
							</div>
							<div class="col-6 col-sm-2" align="right">
								<input class="form-control" th:id="'takeProfit'+${homeBroker.id}">
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-2" align="right">
								<strong>Tipo:</strong>
							</div>
							<div class="col-6 col-sm-2">
								<select class="form-control" th:id="'tipo'+${homeBroker.id}">
									<option>ENTRADA</option>
									<option>SAIDA</option>
								</select>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12" align="right">
								<button class="btn btn-success"
									th:onclick="'javascript:comprar('+${homeBroker.id}+');'">Comprar</button>
								&nbsp;
								<button class="btn btn-primary"
									th:onclick="'javascript:vender('+${homeBroker.id}+');'">Vender</button>
								&nbsp;
								<button class="btn btn-danger"
									th:onclick="'javascript:zerar('+${homeBroker.id}+');'">Zerar</button>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery.price_format.1.7.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	function comprar(home) {
		var idHome = (home == 0 ? '' : home);
		var marketOrder = {};
		marketOrder.conta = $('#conta' + idHome).val();
		marketOrder.ativo = $('#ativo' + idHome).val();
		marketOrder.expert = $('#expert' + idHome).val();
		marketOrder.direcao = 'BUY';
		marketOrder.volume = $('#volume' + idHome).val();
		marketOrder.tipo = $('#tipo' + idHome).val();
		marketOrder.stopLoss = $('#stopLoss' + idHome).val();
		marketOrder.takeProfit = $('#takeProfit' + idHome).val();

		console.log(marketOrder);
		$.ajax({
			url: "/metatrader/order/market",
			type: "POST",
			data: JSON.stringify(marketOrder),
			// dataType : "json",
			contentType: "application/json; charset=utf-8",
			success: function () {
				alert('Success');
			}
		}).done(function (data) {
			console.log("Done: ");
			console.log(data);
		}).fail(function (response) {
			var error = JSON.parse(response.responseText);
			console.log(error);
		});
	}

	function vender(home) {
		var idHome = (home == 0 ? '' : home);
		var marketOrder = {};
		marketOrder.conta = $('#conta' + idHome).val();
		marketOrder.ativo = $('#ativo' + idHome).val();
		marketOrder.expert = $('#expert' + idHome).val();
		marketOrder.direcao = 'SELL';
		marketOrder.volume = $('#volume' + idHome).val();
		marketOrder.tipo = $('#tipo' + idHome).val();
		marketOrder.stopLoss = $('#stopLoss' + idHome).val();
		marketOrder.takeProfit = $('#takeProfit' + idHome).val();

		console.log(marketOrder);

		$.ajax({
			url: "/metatrader/order/market",
			type: "POST",
			data: JSON.stringify(marketOrder),
			// dataType : "json",
			contentType: "application/json; charset=utf-8",
			success: function () {
				alert('Success');
			}
		}).done(function (data) {
			console.log("Done: ");
			console.log(data);
		}).fail(function (response) {
			var error = JSON.parse(response.responseText);
			console.log(error);
		});
	}
</script>

</html>