<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="shortcut icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="/css/bootstrap.css">
<title>Versatil IA</title>
<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/"> <img src="/vst-ia.png"
			height="30" class="d-inline-block align-top" alt=""> <span
			style="font-weight: 600">&nbsp;&nbsp;Versátil I.A.</span>
		</a>
	</nav>
	<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="list-group">
					<a href="/operacao/andamento"
						class="list-group-item list-group-item-action">Acompanhamento
						Diário</a>
					<!--  -->
					<a href="/assinaturas"
						class="list-group-item list-group-item-action">Assinaturas</a>
					<!--  -->
					<a href="/backtest" class="list-group-item list-group-item-action"
						aria-current="true"> Backtest</a>
					<!--  -->
					<a href="/contas" class="list-group-item list-group-item-action"
						aria-current="true"> Contas</a>
					<!--  -->
					<a href="/inativas" class="list-group-item list-group-item-action">Contas
						Inativas</a>
					<!--  -->
					<a href="/logs" class="list-group-item list-group-item-action">Logs</a>
					<!--  -->
					<a href="/migrar" class="list-group-item list-group-item-action">Migrar</a>
					<!--  -->
					<a href="/monitor" class="list-group-item list-group-item-action">Monitor</a>
					<!--  -->
					<a href="/posicoes" class="list-group-item list-group-item-action">Posições</a>
					<!--  -->
					<a href="/resultados"
						class="list-group-item list-group-item-action">Resultados</a>
					<!--  -->
					<a href="/resultados/DELTA"
						class="list-group-item list-group-item-action">Resultados
						(Delta)</a>
					<!--  -->
					<a href="/status" class="list-group-item list-group-item-action">Status</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery.price_format.1.7.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
	function formatarNumero(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR'); // "9.876.543,21"
	}

	function formatarDecimal(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits : 2,
			maximumFractionDigits : 2
		}); // "9.876.543,21"
	}

	function formatarDecimal(numero, casasDecimais) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits : casasDecimais,
			maximumFractionDigits : casasDecimais
		}); // "9.876.543,21"
	}
</script>
</html>