<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title>Registrar Usuário</title>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
	<div class="container-fluid">
		<br>
		<form action="/usuario/registrar" method="post">
			<div class="card">
				<div class="card-header">Registrar Usuário</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<label>Email</label>
						</div>
						<div class="col-12">
							<input class="form-control" name="email">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Nome:</label>
						</div>
						<div class="col-12">
							<input class="form-control" name="nome">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Senha:</label>
						</div>
						<div class="col-12">
							<input class="form-control" type="password" name="senha">
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Registrar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery.price_format.1.7.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
	function ativar() {
		var conta = $('#idConta').val();
		var pagamento = $('#idPagamento').val();
		$.ajax({
			url: '/assinatura/ativar/' + conta + '/' + pagamento,
			success: function (resumo) {
				console.log('ok');
			}
		});
	}

	function consultar() {
		$.ajax({
			url: '/delta/resumo',
			success: function (resumo) {
				console.log(resumo);

				var html = '';
				html += '<table class="table table-striped table-condensed">';
				html += '<thead>';
				html += '<th>Data</th>';
				html += '<th align="right">VWAP</th>';
				html += '<th align="right">Delta</th>';
				html += '<th align="right">Máx./Mín.</th>';
				html += '<th align="right">Amplit.</th>';
				html += '</thead>';
				html += '<tbody>';
				$.each(resumo.deltas, function (index, delta) {
					html += '<tr>';
					// 2021-10-12
					html += '<td>' + delta.data.substring(8, 10) + '/'
						+ delta.data.substring(5, 7) + '</td>';
					html += '<td align="right">'
						+ formatarDecimal(delta.vwapSuperior) + '<br>'
						+ formatarNumero(delta.vwapInferior) + '</td>';
					html += '<td align="right">' + formatarDecimal(delta.delta)
						+ '</td>';
					html += '<td align="right">'
						+ formatarDecimal(delta.maxima) + '<br>'
						+ formatarDecimal(delta.minima) + '</td>';
					html += '<td align="right">'
						+ formatarDecimal(delta.amplitude) + '</td>';
					html += '</tr>';
				});
				html += '<tr>';
				html += '<tbody>';
				html += '</table>';
				$('#vwapSuperior')
					.html(formatarDecimal(resumo.vwapSuperior, 0));
				$('#vwapInferior')
					.html(formatarDecimal(resumo.vwapInferior, 0));
				$('#delta').html(formatarDecimal(resumo.delta, 0));
				$('#amplitude').html(formatarDecimal(resumo.amplitude, 0));
				$('#conteudo').html(html);
			}
		});
	}

	function formatarNumero(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR'); // "9.876.543,21"
	}

	function formatarDecimal(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2
		}); // "9.876.543,21"
	}

	function formatarDecimal(numero, casasDecimais) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits: casasDecimais,
			maximumFractionDigits: casasDecimais
		}); // "9.876.543,21"
	}
</script>

</html>