<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title>Resultados</title>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
</head>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<!-- script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery.price_format.1.7.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<style>
	.fonte-tabela {
		font-weight: 600;
		font-size: 80%;
	}

	.dados-pessoais {
		display: none;
	}

	.dados-pessoais-oculto {
		display: block;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<img th:src="${'https://download.versatil-ia.com.br/' + afiliado.logo}" height="30"
				class="d-inline-block align-top" alt="${'https://download.versatil-ia.com.br/tradingnow-favicon.png'}">
			<span style="font-weight: 600">&nbsp;&nbsp;Resultados</span>
		</a>
	</nav>
	<br>
	<div class="container">
		<input type="hidden" id="automacao" th:value="${automacao}"> <br>
		<div class="nav nav-tabs">
			<button id="menuResultadoIndividual" class="nav-link active" onclick="javascript:resultadoIndividual();">Por
				Licença</button>
			<button id="menuResultadoAcumulado" class="nav-link" onclick="javascript:resultadoAcumulado();">Por
				Mês</button>
		</div>



		<div id='divResultadoAcumulado' style="display: none;">
			<div class="card">
				<div class="card-body">
					<div id='divGraficoAcumulado'></div>
					<div class="row">
						<div class="col-4">
							<Strong> Positivos<br> <span id="divAcumuladoPositivo"
									style="color: darkgreen;"></span></Strong>
						</div>
						<div class="col-4" align="center">
							<Strong> Negativos<br> <span id="divAcumuladoNegativo"></span></Strong>
						</div>
						<div class="col-4" align="right">
							<Strong>Total</Strong><br> <span id="divTotalAcumulado" class="badge badge-success"
								style="font-size: 85%; margin-top: 3px;"></span>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div id='divGrafico'></div>
		</div>
		<div id='divResultadoIndividual'>
			<div class="custom-control custom-switch" align="right">
				<input type="checkbox" class="custom-control-input" checked id="customSwitch1"> <label
					class="custom-control-label" for="customSwitch1"><i class="bi bi-eye-slash"></i></label>
			</div>
			<div class="row">
				<div class="col-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="fonte-tabela">Licença</th>
								<th class="fonte-tabela">Nome / Corretora</th>
								<th class="fonte-tabela" style="text-align: right;">Resultado</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="conta : ${contasList}">
								<td>
									<div class="dados-pessoais">
										<a th:href="@{'/detalhes/' + ${conta.id}}"> <span class="fonte-tabela"
												th:text="${conta.id}"></span></a><br> <small><span class="fonte-tabela"
												th:text="${#temporals.format(conta.dataDeVencimento, 'dd/MM/yyyy')}"></span></small>

									</div>
									<div class="dados-pessoais-oculto">
										<a th:href="@{'/detalhes/' + ${conta.id}}"><span class="fonte-tabela"
												th:text="${conta.id.substring(0,4)+'**'}"></span></a><br> <small><span
												class="fonte-tabela"
												th:text="${#temporals.format(conta.dataDeVencimento, 'dd/MM/yyyy')}"></span></small>
									</div>
								</td>
								<td>
									<div class="dados-pessoais">
										<span class="fonte-tabela" th:text="${conta.nome}"></span><br>
										<small><span th:text="${conta.corretora}"></span></small>
									</div>
									<div class="dados-pessoais-oculto">
										<span class="fonte-tabela">*****</span><br> <small><span
												th:text="${conta.corretora}"></span></small>
									</div>
								</td>

								<td align="right"><a th:href="@{'/trade/' + ${conta.id}}">
										<span
											th:class="${conta.resultado >= 0 ? 'badge badge-success': 'badge badge-danger'}"
											th:text="${#numbers.formatDecimal(conta.resultado, 1, 'POINT', 2, 'COMMA')}"></span>
									</a></td>
							</tr>
							<tr>
								<td th:text="${contas}" class="fonte-tabela"></td>
								<td align="right" class="fonte-tabela"><Strong>Total:</Strong></td>
								<td style="font-weight: bold;" align="right"><span
										th:text="${#numbers.formatDecimal(total, 1,'POINT', 2, 'COMMA')}"></span>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery.price_format.1.7.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/versatil.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
	function formatarNumero(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR'); // "9.876.543,21"
	}

	function formatarDecimal(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits: 2,
			maximumFractionDigits: 2
		}); // "9.876.543,21"
	}

	function formatarDecimal(numero, casasDecimais) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits: casasDecimais,
			maximumFractionDigits: casasDecimais
		}); // "9.876.543,21"
	}

	function exibirDados() {
		var privacidade = $('#privacidade').val();
		console.log(privacidade);
		$('.handle').css('left', '300px')
		$("#divP1").css("display", "none");
		$("#divP2").css("display", "block");
		$("#divP3").css("display", "block");
		$("#divP4").css("display", "block");
		$("#divP5").css("display", "block");
		$("#divP6").css("display", "block");
		$("#divP7").css("display", "block");
	}

	$('#customSwitch1').change(function () {
		if (this.checked) {
			$('.dados-pessoais').css('display', 'none');
			$('.dados-pessoais-oculto').css('display', 'block');
		} else {
			$('.dados-pessoais').css('display', 'block');
			$('.dados-pessoais-oculto').css('display', 'none');
		}
	});
</script>
<script>
	function montarGrafico(divGrafico, resultado, acumulados) {
		var html = '';
		acumulados.reverse();
		$
			.each(
				acumulados,
				function (index, acumuladoMes) {
					html += '<div class="card">';
					html += '<div class="card-body">';
					html += '<div id="' + divGrafico + '-'
						+ acumuladoMes.mes + '-' + acumuladoMes.ano + '">';
					html += '</div>';
					html += '<div class="row">';
					html += '<div class="col-4">';
					html += '<Strong> Positivos<br> <span style="color: darkgreen;">';
					html += acumuladoMes.positivos;
					html += '&nbsp;<span class="badge badge-success">';
					html += formatarDecimal(
						acumuladoMes.positivos
						* 100
						/ (acumuladoMes.positivos + acumuladoMes.negativos),
						1)
						+ '%';
					html += '</span>';
					html += '</span></Strong>';
					html += '</div>';
					html += '<div class="col-4" align="center">';
					html += '<Strong> Negativos<br> <span>';
					html += acumuladoMes.negativos;
					html += '&nbsp;<span class="badge badge-danger">';
					html += formatarDecimal(
						acumuladoMes.negativos
						* 100
						/ (acumuladoMes.positivos + acumuladoMes.negativos),
						1)
						+ '%';
					html += '</span>';
					html += '</span></Strong>';
					html += '</div>';
					html += '<div class="col-4" align="right">';
					html += '<Strong>Total</Strong><br><span id="divTotalAcumulado-'
						+ acumuladoMes.mes
						+ '-'
						+ acumuladoMes.ano
						+ '" class="badge badge-success" style="font-size: 85%; margin-top: 3px;">';
					html += formatarDecimal(acumuladoMes.acumuladoMes,
						2);
					html += '</span>';
					html += '</div>';
					html += '</div>';
					html += '</div>';
					html += '</div>';
					html += '<br>';
				});
		$('#' + divGrafico).html(html);
		acumulados.reverse();

		$.each(acumulados, function (index, acumuladoMes) {
			var categorias = [];
			var valores = [];
			var resultadoDia = [];
			$.each(acumuladoMes.dias, function (index, acumuladoDia) {
				categorias.push(acumuladoDia.data.substring(8, 10));
				valores.push(acumuladoDia.acumuladoMes);
				resultadoDia.push(acumuladoDia.resultado);
			});

			var serie = {};
			serie.type = 'spline';
			serie.data = valores;
			serie.name = "Acumulado";
			var serie2 = {};
			serie2.type = 'column';
			serie2.data = resultadoDia;
			serie2.name = "Resultado";
			serie2.color = '#336600';
			serie2.negativeColor = '#FF0000';
			var series = [];
			series.push(serie2);
			series.push(serie);
			console.log(serie);

			var chartUsuarios = Highcharts.chart(divGrafico + '-'
				+ acumuladoMes.mes + '-' + acumuladoMes.ano, {

				chart: {
					type: 'area'
				},

				title: {
					text: getMes(acumuladoMes.mes) + '/' + acumuladoMes.ano,
					align: 'left'
				},

				subtitle: {
					text: resultado.afiliado,
					align: 'left'
				},

				yAxis: {
					title: {
						text: ''
					},
					plotLines: [{
						color: '#000000',
						width: 1,
						value: 0,
						zIndex: 2
					}]
				},

				xAxis: {
					categories: categorias
				},

				plotOptions: {
					area: {
						marker: {
							enabled: false,
							symbol: 'circle',
							radius: 4,
							states: {
								hover: {
									enabled: true
								}
							}
						}
					}
				},

				/**legend : {
					layout : 'vertical',
					align : 'right',
					verticalAlign : 'middle'
				},*/
				series: series,

				responsive: {
					rules: [{
						condition: {
							maxWidth: 500
						},
						chartOptions: {
							legend: {
								layout: 'horizontal',
								align: 'center',
								verticalAlign: 'bottom'
							}
						}
					}]
				}

			});
		});
	}

	function montarResultado(divGrafico, resultado, acumulados) {
		var categorias = [];
		var valores = [];

		var serie = {};
		serie.data = valores;
		serie.name = "Resultado";

		var series = [];
		series.push(serie);
		console.log(serie);

		$.each(acumulados, function (index, acumuladoMes) {
			$.each(acumuladoMes.dias, function (index, acumuladoDia) {
				categorias.push(acumuladoDia.data.substring(8, 10) + '-'
					+ acumuladoDia.data.substring(5, 7));
				valores.push(acumuladoDia.acumulado);
			});
		});

		var chartUsuarios = Highcharts.chart(divGrafico, {
			chart: {
				type: 'area'
			},

			title: {
				text: 'Resultado Acumulado',
				align: 'left'
			},

			subtitle: {
				text: resultado.afiliado,
				align: 'left'
			},

			yAxis: {
				title: {
					text: ''
				}
			},

			xAxis: {
				categories: categorias
			},

			plotOptions: {
				area: {
					marker: {
						enabled: false,
						symbol: 'circle',
						radius: 4,
						states: {
							hover: {
								enabled: true
							}
						}
					}
				}
			},

			series: series,

			responsive: {
				rules: [{
					condition: {
						maxWidth: 500
					},
					chartOptions: {
						legend: {
							layout: 'horizontal',
							align: 'center',
							verticalAlign: 'bottom'
						}
					}
				}]
			}

		});

	}

	function consultarResultados(expert) {
		var automacao = $('#automacao').val();
		$
			.ajax({
				url: '/resultado/global/' + automacao,
				success: function (resultado) {
					console.log(resultado);
					$('#divTotalAcumulado').html(
						formatarDecimal(resultado.acumulado, 2));
					$('#divAcumuladoPositivo')
						.html(
							resultado.positivos
							+ ' <span class="badge badge-success">'
							+ formatarDecimal(
								resultado.positivos
								* 100
								/ (resultado.positivos + resultado.negativos),
								1) + '%</span>');
					$('#divAcumuladoNegativo')
						.html(
							resultado.negativos
							+ ' <span class="badge badge-danger">'
							+ formatarDecimal(
								resultado.negativos
								* 100
								/ (resultado.positivos + resultado.negativos),
								1) + '%</span>');
					montarResultado('divGraficoAcumulado', resultado, resultado.meses);
					montarGrafico('divGrafico', resultado, resultado.meses);
				}
			});
	}

	function resultadoIndividual() {
		console.log('Resultado Individual');
		$('#menuOperacoes').attr("class", "nav-link");
		$('#menuResultadoAcumulado').attr("class", "nav-link");
		$('#menuResultadoIndividual').attr("class", "nav-link active");
		$('#divResumo').css({
			'display': 'none'
		});

		$('#divResultadoAcumulado').css({
			'display': 'none'
		});

		$('#divResultadoIndividual').css({
			'display': 'block'
		});

	}

	function resultadoAcumulado() {
		$('#menuResultadoAcumulado').attr("class", "nav-link active");
		$('#menuResultadoIndividual').attr("class", "nav-link");

		$('#divResultadoIndividual').css({
			'display': 'none'
		});

		$('#divResultadoAcumulado').css({
			'display': 'block'
		});
		consultarResultados('DELTA');

	}

	consultarResultados('DELTA');
</script>

</html>