<html xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="/css/bootstrap.css">
<title>Contas Inativas - Versatil IA</title>
<link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="/"> <img src="/vst-ia.png"
				height="30" class="d-inline-block align-top" alt=""> <span
				style="font-weight: 600">&nbsp;&nbsp;Ativação de Conta</span>
			</a>
		</nav>
		<br> <input type="hidden" id="idConta" th:value="${conta.id}">
		<div class="row">
			<div class="col-2" align="right">Conta:</div>
			<div class="col-10">
				<Strong> <span th:text="${conta.id}"></span></Strong>
			</div>
			<div class="col-2" align="right">Nome:</div>
			<div class="col-10">
				<Strong> <span th:text="${conta.nome}"></span></Strong>
			</div>
			<div class="col-2" align="right">Corretora:</div>
			<div class="col-10">
				<Strong> <span th:text="${conta.corretora}"></span></Strong>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-12">
				<h5>Associar Pagamento</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Data</th>
							<th>Nome</th>
							<th>Telefone</th>
							<th>Pedido</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pagamento : ${pagamentosList}">
							<td><a
								th:href="@{/assinatura/ativar/{idConta}/{idPagamento}(idConta=${conta.id},idPagamento=${pagamento.id})}"
								class="btn btn-sm btn-primary">Ativar</a></td>
							<td th:text="${pagamento.dataAtualizacao}"></td>
							<td th:text="${pagamento.nome}"></td>
							<td th:text="${pagamento.telefone}"></td>
							<td th:text="${pagamento.refPedido}"></td>
							<td th:text="${pagamento.valor}"></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-12">
				<button class="btn btn-primary" onclick="javascript:ativar();">Ativar
					Assinatura</button>
				&nbsp;
				<button class="btn btn-warning"
					onclick="javascript:ativarComPendencia();">Ativar com
					Pendência</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/jquery.price_format.1.7.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
	function ativar() {
		var conta = $('#idConta').val();
		var pagamento = $('#idPagamento').val();
		$.ajax({
			url : '/assinatura/ativar/' + conta + '/' + pagamento,
			success : function(resumo) {
				console.log('ok');
				alert("Ativado com sucesso");
				document.location.href = '/'
			}
		});
	}

	function ativarComPendencia() {
		var conta = $('#idConta').val();
		$.ajax({
			url : '/assinatura/ativarComPendencia/' + conta,
			success : function(resumo) {
				console.log('ok');
				alert("Ativado com sucesso");
				document.location.href = '/'
			}
		});
	}

	function formatarNumero(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR'); // "9.876.543,21"
	}

	function formatarDecimal(numero) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits : 2,
			maximumFractionDigits : 2
		}); // "9.876.543,21"
	}

	function formatarDecimal(numero, casasDecimais) {
		if (!numero)
			return '-';
		return numero.toLocaleString('pt-BR', {
			minimumFractionDigits : casasDecimais,
			maximumFractionDigits : casasDecimais
		}); // "9.876.543,21"
	}
</script>
</html>